html {
  font-family: sans-serif;
  font-size: 100%;
}
body {
  background: white;
  font-size: 1rem;
  color: #333333;
  font-weight: 100;
  line-height: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
p {
  text-align: justify;
}
a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
a:link {
  color: #333333;
  text-decoration: none;
}
a:visited {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #2196f3;
  text-decoration: none;
}
a:anchor {
  color: #333333;
  text-decoration: none;
}
header {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  background: #2196f3;
  color: white;
  heigh: 120px;
}
article {
  margin: 40px;
}
