html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
body {
  background: white;
  font-size: 1rem;
  color: #333333;
  font-weight: 100;
  line-height: 1.5rem;
  letter-spacing: 0.08rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
p {
  text-align: justify;
}
a {
  color: #333333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #2196f3;
}
a:active {
  color: #2196f3;
}
header {
  padding: 40px;
  background: #2196f3;
  color: white;
}
article {
  padding: 40px;
}
