@primary: #2196f3;
@background: white;
@text: #333;

html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
}

body {
	background: @background;
	font-size: 1rem;
	color: @text;
	font-weight: 100;
	line-height: 1.5rem;
	letter-spacing: 0.05rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	letter-spacing: 0.08rem;
}

p {
	text-align: justify;
}

a {
	color: @text;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	&:hover   { color: @primary; }
	&:active  { color: @primary; }
}

header {
	padding: 40px;
	background: @primary;
	color: white;
}

article {
	padding: 40px;
}


.editor {
	tab-size: 4;
	border-radius: 4px;
	font-family: monospace;
	border: 1px solid @primary;
	width: 40%;
	height: 200px;
	padding: 8px;
}













//
