html {
  font-size: 100%;
}
body {
  background: white;
  font-size: 1rem;
  color: #333333;
  font-weight: 100;
  letter-spacing: 0.1rem;
  line-height: 1.75rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
p {
  text-align: justify;
}
a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
a:link {
  color: #333333;
  text-decoration: none;
}
a:visited {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: steelblue;
  text-decoration: none;
}
a:anchor {
  color: #333333;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 800px;
}
.banner {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  background: steelblue;
  color: white;
  heigh: 120px;
}
.circle {
  border-radius: 50%;
  max-width: 200px;
  margin: 20px;
  margin-left: 0;
  transition: all 0.5s ease-in-out;
  border: 6px solid #294d6b;
}
.circle:hover {
  box-shadow: 0 0 50px 0 white;
}
.center {
  text-align: center;
}
.center-parent {
  width: 100%;
  display: blog;
  margin: 0 auto;
}
.background-primary {
  background: steelblue;
  color: white;
}
.background-light {
  background: #d7e4ef;
  color: white;
}
.background-icon {
  font-size: 2rem;
  padding: 1rem;
  color: #294d6b;
  transition: all 0.1s linear;
  text-shadow: 0 1px #699bc4;
}
.background-icon:hover {
  color: white;
  text-shadow: 0 0 50px black;
  /*
		color: darken(@primary, 10%);
		text-shadow: 0 0 10px white;
		*/
}
.icon {
  font-size: 5rem;
  color: steelblue;
  text-shadow: 0 1px white;
  display: block;
  margin-bottom: 10px;
  transition: all 0.2s ease-in;
}
.icon:hover {
  color: #38678f;
}
.page {
  text-align: center;
  padding: 5px 0 40px 0;
}
.page h1,
.page h2 {
  margin-bottom: 20px;
}
.white {
  background: white;
}
.light {
  background: #eef;
}
footer {
  background: steelblue;
  overflow: hidden;
  height: 200px;
}
