@primary: dodgerblue;
@background: white;

html {
	font-size: 100%;
}
body {
	background: @background;
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.banner {
	margin: 0;
	padding: 0;
	width: 100%;
	background: @primary;
	color: white;
	height: 120px;
}


.background-primary {
	background: @primary;
	color: white;
}

.background-icon {
	font-size: 5rem;
	color: darken(@primary, 10%);
	&:hover {
		color: white;
	}
}
