@primary: dodgerblue;
@background: white;

html {
	font-size: 100%;
}
body {
	font-weight: 200;
	background: @background;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.banner {
	margin: 0;
	padding: 0;
	width: 100%;
	background: @primary;
	color: white;
	height: 120px;
}
