<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 hidden-xs">
				<img class="img-responsive circle inline" src="/img/photo.jpg"/>
				<div class="inline">
					<h1>Kookiat Suetrong<br/>Beer</h1>
				</div>
			</div>
			<div class="col-xs-12 visible-xs hidden-sm center">
				<img class="img-responsive circle center-parent"
					src="/img/photo.jpg" />
				<br/>
				<h1>
					Kookiat Suetrong<br/>Beer
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="container" style='min-height:40px;'>
	<h2>Quick Info</h2>
	<p>
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	This is a book. This is a book. This is a book. This is a book.
	</p>

	<h2>Social Profiles</h2>
	<ul>
		<li><a href="https://facebook.com/kookiats">Facebook</a></li>
		<li><a href="https://twitter.com/kookiatsuetrong">Twitter</a></li>
		<li><a href="https://github.com/kookiatsuetrong">GitHub</a></li>
	</ul>

	<!--
	<h2>Education and Certificate</h2>

	<h2>Articles</h2>
	-->

	<h2>Projects</h2>
	<ul>
		<li><a href="">iPay</a></li>
		<li><a href="https://github.com/kookiatsuetrong/cool">
			The Cool! Programming Language</a></li>
		<li><a href="https://github.com/publicsoftware/OpenBI">
			OpenBI</a></li>
	</ul>

	<h2>Blog</h2>

</div>

<br/>
<br/>
<br/>

<footer>
	<span class="background-icon glyphicon glyphicon-globe"></span>
	<span class="background-icon glyphicon glyphicon-cloud"></span>
	<span class="background-icon glyphicon glyphicon-envelope"></span>
	<span class="background-icon glyphicon glyphicon-glass"></span>
	<span class="background-icon glyphicon glyphicon-music"></span>
	<span class="background-icon glyphicon glyphicon-search"></span>
	<span class="background-icon glyphicon glyphicon-heart"></span>
	<span class="background-icon glyphicon glyphicon-star"></span>
	<span class="background-icon glyphicon glyphicon-user"></span>
	<span class="background-icon glyphicon glyphicon-film"></span>
	<span class="background-icon glyphicon glyphicon-time"></span>
	<span class="background-icon glyphicon glyphicon-trash"></span>

	<span class="background-icon glyphicon glyphicon-repeat"></span>
	<span class="background-icon glyphicon glyphicon-lock"></span>
	<span class="background-icon glyphicon glyphicon-headphones"></span>
	<span class="background-icon glyphicon glyphicon-credit-card"></span>
	<span class="background-icon glyphicon glyphicon-picture"></span>
	<span class="background-icon glyphicon glyphicon-map-marker"></span>
	<span class="background-icon glyphicon glyphicon-tags"></span>
	<span class="background-icon glyphicon glyphicon-refresh"></span>
	<span class="background-icon glyphicon glyphicon-screenshot"></span>
	<span class="background-icon glyphicon glyphicon-gift"></span>
	<span class="background-icon glyphicon glyphicon-calendar"></span>
	<span class="background-icon glyphicon glyphicon-facetime-video"></span>

	<span class="background-icon glyphicon glyphicon-folder-open"></span>
	<span class="background-icon glyphicon glyphicon-shopping-cart"></span>
	<span class="background-icon glyphicon glyphicon-thumbs-up"></span>
	<span class="background-icon glyphicon glyphicon-bell"></span>
	<span class="background-icon glyphicon glyphicon-dashboard"></span>
	<span class="background-icon glyphicon glyphicon-briefcase"></span>
	<span class="background-icon glyphicon glyphicon-filter"></span>
	<span class="background-icon glyphicon glyphicon-tasks"></span>
	<span class="background-icon glyphicon glyphicon-fullscreen"></span>
	<span class="background-icon glyphicon glyphicon-paperclip"></span>
	<span class="background-icon glyphicon glyphicon-heart-empty"></span>
	<span class="background-icon glyphicon glyphicon-link"></span>

	<span class="background-icon glyphicon glyphicon-leaf"></span>
	<span class="background-icon glyphicon glyphicon-fire"></span>
	<span class="background-icon glyphicon glyphicon-eye-open"></span>
	<span class="background-icon glyphicon glyphicon-comment"></span>
	<span class="background-icon glyphicon glyphicon-pushpin"></span>
	<span class="background-icon glyphicon glyphicon-usd"></span>
	<span class="background-icon glyphicon glyphicon-flash"></span>
	<span class="background-icon glyphicon glyphicon-send"></span>
	<span class="background-icon glyphicon glyphicon-signal"></span>
	<span class="background-icon glyphicon glyphicon-home"></span>
	<span class="background-icon glyphicon glyphicon-cog"></span>
	<span class="background-icon glyphicon glyphicon-file"></span>
	<span class="background-icon glyphicon glyphicon-credit-card"></span>
	<span class="background-icon glyphicon glyphicon-phone"></span>
	<span class="background-icon glyphicon glyphicon-tree-conifer"></span>
	<span class="background-icon glyphicon glyphicon-knight"></span>
	<span class="background-icon glyphicon glyphicon-blackboard"></span>
	<span class="background-icon glyphicon glyphicon-piggy-bank"></span>
	<span class="background-icon glyphicon glyphicon-scale"></span>




	<span class="background-icon glyphicon glyphicon-globe"></span>
	<span class="background-icon glyphicon glyphicon-cloud"></span>
	<span class="background-icon glyphicon glyphicon-envelope"></span>
	<span class="background-icon glyphicon glyphicon-glass"></span>
	<span class="background-icon glyphicon glyphicon-music"></span>
	<span class="background-icon glyphicon glyphicon-search"></span>
	<span class="background-icon glyphicon glyphicon-heart"></span>
	<span class="background-icon glyphicon glyphicon-star"></span>
	<span class="background-icon glyphicon glyphicon-user"></span>
	<span class="background-icon glyphicon glyphicon-film"></span>
	<span class="background-icon glyphicon glyphicon-time"></span>
	<span class="background-icon glyphicon glyphicon-trash"></span>
</footer>

<script type="text/cool">
class Main {
	method onClick(e) {
		var system = new System();
		system.log(e);
	}
	method onScroll(e) {
		var system = new System();
		system.log(this.scrollY);
	}
	method start() {
		var page = new Page();
		var body = page.select('body');
		body[0].onscroll = this.onScroll;
		body[0].onclick  = this.onClick;
	}
}
</script>


























<!-- -->
