@import "normalize.css";
* {
  outline: none;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
body {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  letter-spacing: 0.08rem;
}
p {
  text-align: justify;
}
pre {
  padding: 4px 8px;
  border-radius: 4px;
}
.grid-container {
  width: 96%;
  max-width: 1024px;
  margin: 0 auto;
}
.grid-row:before,
.grid-row:after {
  content: "";
  display: table ;
  clear: both;
}
[class*='grid-xs'],
[class*='grid-sm'],
[class*='grid-md'],
[class*='grid-lg'],
[class*='grid-xl'] {
  float: left;
  min-height: 1px;
  width: 10%;
  box-sizing: border-box;
  padding: 4px;
}
.grid-xs-10 {
  width: 10%;
}
.grid-xs-20 {
  width: 20%;
}
.grid-xs-30 {
  width: 30%;
}
.grid-xs-40 {
  width: 40%;
}
.grid-xs-50 {
  width: 50%;
}
.grid-xs-60 {
  width: 60%;
}
.grid-xs-70 {
  width: 70%;
}
.grid-xs-80 {
  width: 80%;
}
.grid-xs-90 {
  width: 90%;
}
.grid-xs-100 {
  width: 100%;
}
.grid-xs-visible {
  display: block;
}
.grid-xs-hidden {
  display: none;
}
@media all and (min-width: 480px) {
  .grid-sm-10 {
    width: 10%;
  }
  .grid-sm-20 {
    width: 20%;
  }
  .grid-sm-30 {
    width: 30%;
  }
  .grid-sm-40 {
    width: 40%;
  }
  .grid-sm-50 {
    width: 50%;
  }
  .grid-sm-60 {
    width: 60%;
  }
  .grid-sm-70 {
    width: 70%;
  }
  .grid-sm-80 {
    width: 80%;
  }
  .grid-sm-90 {
    width: 90%;
  }
  .grid-sm-100 {
    width: 100%;
  }
  .grid-sm-visible {
    display: block;
  }
  .grid-sm-hidden {
    display: none;
  }
}
@media all and (min-width: 768px) {
  .grid-md-10 {
    width: 10%;
  }
  .grid-md-20 {
    width: 20%;
  }
  .grid-md-30 {
    width: 30%;
  }
  .grid-md-40 {
    width: 40%;
  }
  .grid-md-50 {
    width: 50%;
  }
  .grid-md-60 {
    width: 60%;
  }
  .grid-md-70 {
    width: 70%;
  }
  .grid-md-80 {
    width: 80%;
  }
  .grid-md-90 {
    width: 90%;
  }
  .grid-md-100 {
    width: 100%;
  }
  .grid-md-visible {
    display: block;
  }
  .grid-md-hidden {
    display: none;
  }
}
@media all and (min-width: 1024px) {
  .grid-lg-10 {
    width: 10%;
  }
  .grid-lg-20 {
    width: 20%;
  }
  .grid-lg-30 {
    width: 30%;
  }
  .grid-lg-40 {
    width: 40%;
  }
  .grid-lg-50 {
    width: 50%;
  }
  .grid-lg-60 {
    width: 60%;
  }
  .grid-lg-70 {
    width: 70%;
  }
  .grid-lg-80 {
    width: 80%;
  }
  .grid-lg-90 {
    width: 90%;
  }
  .grid-lg-100 {
    width: 100%;
  }
  .grid-lg-visible {
    display: block;
  }
  .grid-lg-hidden {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  .grid-xl-10 {
    width: 10%;
  }
  .grid-xl-20 {
    width: 20%;
  }
  .grid-xl-30 {
    width: 30%;
  }
  .grid-xl-40 {
    width: 40%;
  }
  .grid-xl-50 {
    width: 50%;
  }
  .grid-xl-60 {
    width: 60%;
  }
  .grid-xl-70 {
    width: 70%;
  }
  .grid-xl-80 {
    width: 80%;
  }
  .grid-xl-90 {
    width: 90%;
  }
  .grid-xl-100 {
    width: 100%;
  }
  .grid-xl-visible {
    display: block;
  }
  .grid-xl-hidden {
    display: none;
  }
}
