html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
body {
  background: white;
  font-size: 1rem;
  color: #333333;
  font-weight: 100;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  letter-spacing: 0.08rem;
}
p {
  text-align: justify;
}
a {
  color: #333333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #2196f3;
}
a:active {
  color: #2196f3;
}
header {
  padding-top: 20px;
  background: #2196f3;
  color: white;
}
article {
  padding: 10px 40px;
}
pre {
  margin: 8px 0;
  tab-size: 4;
  -moz-tab-size: 4;
  border: none;
  background: #fbfbff;
  overflow-x: auto;
}
.editor {
  tab-size: 4;
  -moz-tab-size: 4;
  font-family: monospace;
  border: 1px solid #82c4f8;
  width: 100%;
  height: 400px;
  padding: 8px;
  border-radius: 4px;
  resize: vertical;
}
.editor:focus {
  border: 1px solid #2196f3;
}
.background-icon {
  font-size: 2rem;
  padding: 1rem;
  color: #0960a5;
  transition: all 0.1s linear;
  text-shadow: 0 1px #51adf6;
}
.background-icon:hover {
  color: white;
  text-shadow: 0 0 50px black;
}
.background-icon-white {
  font-family: monospace;
  font-size: 4.1rem;
  color: white;
}
footer {
  background: #2196f3;
  overflow: hidden;
  height: 200px;
}
.container-fluid {
  margin-bottom: 40px;
}
