<header>
	<img src="/cool.png" />
	<h1>The Cool! Programming Language</h1>
</header>

<article>
	<h2>Hello World</h2>
	<p>
	The Cool! programming language is cool!
	</p>

	<h2>Useful Links</h2>
	<ul>
		<li><a href="https://github.com/kookiatsuetrong/cool"
			>The Cool! Programming Language</a></li>
		<li><a href=
			"https://github.com/kookiatsuetrong/cool/blob/master/mvc/app.cool"
			>MVC Web Application</a></li>
	</ul>
</article>

<script type="text/cool">
main class Main {

	// two-way binding
	member name; // @id

	member prime = [];
	member sieve(n) {
		this.prime[0] = false;
		this.prime[1] = false;
		for (var i = 2; i <= n; i++) {
			this.prime[i] = true;
		}
		for (var i = 0; i <= Math.sqrt(n); i++) {
			if (this.prime[i] == true) {
				for (var j = 2; i * j <= n; j++) {
					this.prime[i * j] = false;
				}
			}
		}
	}
	new {
		var n = 100;
		var system = new System();
		system.log("Prime Numbers <= " + n);
		this.sieve(n);
		for (var i = 0; i <= n; i++) {
			if (this.prime[i]) {
				system.log(i);
			}
		}
	}
}
</script>
