
<header>
	<a href="https://github.com/kookiatsuetrong/cool">
		<img src="/cool.png" />
	</a>
	<h1>The Cool! Programming Language</h1>
</header>

<article>
	<h2>Cool! Ideas</h2>
	<ul>
		<li>SAP - Simple And Powerful  -> Only 20-30 methods, but produce same result as any large framework.</li>
		<li>TOI - Text editor Over IDE -> You can use any text editor to write Cool!</li>
		<li>BAS - Browser And Server   -> Cool! can use on browser and server.</li>
		<li>LIS - Life Is Short        -> Don't spend 10000 hours learn how to code. Cool! is good for everyone.</li>
		<li>LOE - Learn Online Easily  -> No installation required. Cool! has online editor.</li>
	</ul>

	<textarea class="editor" id="cool-code">// Cool! Demo
main class Hello() {
	new {
		var system = new System();
		system.write("Cool!");
	}
}
</textarea>

	<textarea class="editor" id="javascript-code"></textarea>


</article>

<script type="text/cool">
main class Main {
	member prime = [];
	method sieve(n) {
		this.prime[0] = false;
		this.prime[1] = false;
		for (var i = 2; i <= n; i++) {
			this.prime[i] = true;
		}
		for (var i = 0; i <= Math.sqrt(n); i++) {
			if (this.prime[i] == true) {
				for (var j = 2; i * j <= n; j++) {
					this.prime[i * j] = false;
				}
			}
		}
	}

	method transpile() {
			var web = new Web();
			var editor1 = web.select("#cool-code");
			var code2 = transpile(editor1.value);
			var editor2 = web.select("#javascript-code");
			editor2.value = code2;
	}
	new {
		this.transpile();
		var web = new Web();
		var editor1 = web.select("#cool-code");
		editor1.oninput = this.transpile;

		var n = 100;
		var system = new System();
		system.write("Prime Numbers <= " + n);
		this.sieve(n);
		for (var i = 0; i <= n; i++) {
			if (this.prime[i]) {
				system.write(i);
			}
		}
	}



	// Browser MVC and two-way binding
	/*
	// ("#id")
	member name;
	// ("#save").click
	method save () {
	}
	*/
}
</script>
