<style>
	.editor {
		font-size: 1.5rem;
		line-height: 1.6rem;
		height: 240px;
	}
	button {
		border: 2px solid lightgray;
		border-radius: 4px;
		background: none;
		transition: all .2s ease-in;
		padding: 2px 12px;
	}
	button:hover {
		border: 2px solid gray;
	}
	button:active {
		border: 2px solid lightgray;
		color: lightgray;
	}
</style>

<article>
<div class="grid-x-12">
<button id="run">Run</button>
<button id="clear">Clear</button>
<br/>

<textarea class="editor" id="cool-code">// Cool! Demo
main class Hello {
	new {
		var system = new System();
		system.write("Cool!");
	}
}

</textarea>
</div>

<div class="grid-x-12">
Output:<br/>
<textarea class="editor" id="output"></textarea>
</div>

</article>

<script type="text/html" id="redirect">
function System() {
	this.write = function(data) {
		var web = new Web();
		var item = web.select("#output");
		item.innerHTML += data;
	}
}
</script>

<script type="text/cool">

main class Main {

	method keydown(event) {
		var TAB = 9;
		var F4  = 115;

		if (event.keyCode == TAB) {
			var start = this.selectionStart;
			var end = this.selectionEnd;
			var target = event.target;
			var value = target.value;
			target.value = value.substring(0, start)
				+ "\t"
				+ value.substring(end);
			this.selectionStart = this.selectionEnd = start + 1;
			event.preventDefault();
		}
		/* else if (event.keyCode == F4) {
			target.run();
		}
		*/
	}

	method run() {
		var web = new Web();
		var editor1 = web.select("#cool-code");
		var code1 = transpile(editor1.value);
		var library = web.select("#redirect");
		var engine = new Engine();
		engine.execute(library.innerHTML + "\n" + code1);
	}

	method clear() {
		var web = new Web();
		web.select("#output").innerHTML = "";
	}

	new {
		var web = new Web();
		var button = web.select("#run");
		button.onclick = this.run;
		web.select("#clear").onclick = this.clear;
		var editor1 = web.select("#cool-code");
		editor1.onkeydown = this.keydown;
		editor1.focus();
	}
}
</script>
