<style>
	.editor {
		font-size: 1.5rem;
		line-height: 1.6rem;
		height: 240px;
	}
	.btn {
		margin-bottom: 10px;
	}
</style>

<div class="grid-container">
	<div class="grid-row">
		<div class="grid-xs-1-1 grid-lg-2-3">
			<a class="btn btn-default" id="run">Run</a>
			<a class="btn btn-default" id="clear">Clear</a>

			<textarea class="editor" id="cool-code">// Cool! Demo
main class Hello() {
	new {
		var system = new System();
		system.write("Cool!");
	}
}

</textarea>
		</div>

	</div>
	<div class="grid-row">
		<div class="grid-xs-1-1 grid-lg-2-3">
			Output:<br/>
			<textarea class="editor" id="output"></textarea>
		</div>
	</div>
</div>

<script type="text/html" id="redirect">
function System() {
	this.write = function(data) {
		var web = new Web();
		var item = web.select("#output");
		item.innerHTML += data;
	}
}
</script>


<script type="text/cool">

main class Main {
	/*
	method transpile() {
		var web = new Web();
		var editor1 = web.select("#cool-code");

		var code2 = transpile(editor1.value);
		var engine = new Engine();
		engine.execute(code2);
	}
	*/

	method keydown(event) {
		var TAB = 9;
		var F4  = 115;

		if (event.keyCode == TAB) {
			var start = this.selectionStart;
			var end = this.selectionEnd;
			var target = event.target;
			var value = target.value;
			target.value = value.substring(0, start)
				+ "\t"
				+ value.substring(end);
			this.selectionStart = this.selectionEnd = start + 1;
			event.preventDefault();
		}
		/* else if (event.keyCode == F4) {
			target.run();
		}
		*/
	}

	method run() {
		var web = new Web();
		var editor1 = web.select("#cool-code");
		var code2 = transpile(editor1.value);
		var library = web.select("#redirect");
		var engine = new Engine();
		engine.execute(code2 + " " + library.innerText);
	}

	method clear() {
		var web = new Web();
		web.select("#output").innerHTML = "";
	}

	new {
		var web = new Web();
		var button = web.select("#run");
		button.onclick = this.run;
		web.select("#clear").onclick = this.clear;
		var editor1 = web.select("#cool-code");
		editor1.onkeydown = this.keydown;
		editor1.focus();
	}
}
</script>
<script src="/cool.js"></script>
