<header>
	<a href="http://coolmvc.com"><img src="/cool.png" /></a>
	<h1>The Cool! Programming Language</h1>
</header>

<article>

	<a href="https://github.com/kookiatsuetrong/cool#the-cool-programming-language--"
		>Cool!</a>
		is a computer language that available on Server And Browser (SAB).
		It can easily to write on any Text editor Over IDE (TOI).
		<!--
		You don't have to spend 10000 hours to learn a large framework,
		your Life Is Short (LIS), you should learn only 20-30 methods is enough
		to write a great web app.
		-->
	<br/>
	<a href="https://github.com/kookiatsuetrong/cool#web-mvc-framework"
		>Cool! MVC</a> is an MVC framework for JavaScript, EcmaScript and Cool!
	<br/>

	<textarea class="editor" id="cool-code">// Cool! Demo
main class Hello() {
	new {
		var system = new System();
		system.write("Cool!");
	}
}




</textarea>

	<textarea class="editor" id="javascript-code" readonly></textarea>
</article>

<script type="text/cool">
main class Main {
	method transpile() {
		var web = new Web();
		var editor1 = web.select("#cool-code");
		var code2 = transpile(editor1.value);
		var editor2 = web.select("#javascript-code");
		editor2.value = code2;
	}

	method keydown(event) {
		var TAB = 9;
		if (event.keyCode == TAB) {
			var start = this.selectionStart;
			var end = this.selectionEnd;
			var target = event.target;
			var value = target.value;
			target.value = value.substring(0, start)
				+ "\t"
				+ value.substring(end);
			this.selectionStart = this.selectionEnd = start + 1;
			event.preventDefault();
		}
	}

	method scrollCool() {
		var web = new Web();
		var editor1 = web.select("#cool-code");
		var editor2 = web.select("#javascript-code");
		editor2.scrollTop = editor1.scrollTop;
	}

	method scrollJavaScript() {
		var web = new Web();
		var editor1 = web.select("#cool-code");
		var editor2 = web.select("#javascript-code");
		editor1.scrollTop = editor2.scrollTop;
	}

	new {
		this.transpile();
		var web = new Web();
		var editor1 = web.select("#cool-code");
		editor1.oninput = this.transpile;
		editor1.onkeydown = this.keydown;
		editor1.onscroll = this.scrollCool;
		var editor2 = web.select("#javascript-code");
		editor2.onscroll = this.scrollJavaScript;
	}
}
</script>
<script src="/cool/cool.js"></script>
