<br/>
<br/>

<footer>
	<h1>The Cool! Programming Language</h1>
	<div style="margin: 0 auto;">
		<a href="/">Home</a>
		<a href="/editor">Editor</a>
		<a href="/tutorial/02">MVC</a>
		<a href="/tutorial/01">Tutorial</a>
		<a href="https://github.com/kookiatsuetrong/cool">GitHub</a>
	</div>
</footer>

<script type="text/cool">
main class Footer {

	new {
		var system = new System();
		var web = new Web();
		var footer = web.select("footer");
		var body = web.select("body");
		if (body.clientHeight < window.innerHeight) {
			footer.style.position = "absolute";
		} else {
			footer.style.position = "relative";
		}
	}
}
</script>

<script src="/cool.js"></script>
</body>
</html>
