<!doctype html>
<html>
<head>
	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/normalize.css" />
	<link rel="stylesheet" href="/grid.css" />
	<link rel="stylesheet" href="/main.css" />
	<link rel="short icon" href="/favicon.ico" />

	<meta property="og:title" content="The Cool! Programming Language" />
	<meta property="og:type"  content="website" />
	<meta property="og:url"   content="http://coolmvc.com" />
	<meta property="og:image" content="http://coolmvc.com/cool.jpg" />
	<meta property="og:description" content="Cool! designed to be a small and purely OOP programming language. Cool! MVC framework can use with other languages such as ES6 and JavaScript." />
</head>

<body>
<header>
	<div class="grid-container">
		<a href="/">
			<img src="/cool.png" />
		</a>
		<h1>The Cool! Programming Language</h1>
		<div style="text-align:right;">
			<a href="/" class="white">Home</a>
			<a href="/editor" class="white">Editor</a>
			<a href="/tutorial/02" class="white">MVC</a>
			<a href="/tutorial/01" class="white">Tutorial</a>
			<a href="https://github.com/kookiatsuetrong/cool" class="white">GitHub</a>
		</div>
	</div>
</header>
