<header>
	<div class="container-fluid">
		<a href="http://coolmvc.com">
			<img src="/cool.png" />
		</a>
		<h1>The Cool! Programming Language</h1>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h2>Cool! Ideas</h2>
			<ul>
				<li>SAB - Server And Browser   -
					Use only one language from server to browser</li>
				<li>TOI - Text editor Over IDE -
					You can use any text editor to write Cool!</li>
				<li>LIS - Life Is Short		-
					Don't spend 10000 hours learning large framework.</li>
				<!--
				<li>PYS - Powerful Yet Small   -
					Only 20-30 methods, but produce same result as any large
					framework.
				</li>
				-->
				<li>LOE - Learn Online Easily  -
					No installation required. Cool! has online editor.</li>
			</ul>

			<p>
			Please visit our <a href="https://github.com/kookiatsuetrong/cool"
				>GitHub</a> for more information.
			</p>
		</div>

		<div class="col-sm-6 col-xs-12">
			<h3>Hello World!</h3>
			<pre style="width:100%;">
main class Hello {
	new {
		var system = new System();
		system.write("Cool!");
	}
}
			</pre>
		</div>

	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h2>Model View Controller (MVC)</h2>
			<p>
			MVC Framework in Cool! is simple, compact and memorable. You can
code without any IDE or generator. This framework is not designed for Cool! but
it can on Node.js and io.js using server-side JavaScript and ES6.
			</p>
			<p>
			Cool! designed to be a small programming language, it might not
			popular like ES6 but Cool! MVC has a better future because it can
			use with other languages such as ES6 and JavaScript.
			</p>
		</div>

		<div class="col-sm-6 col-xs-12">
			<h3>MVC Sample</h3>
			<pre>
main class Simple extends Controller {
	new {
		var server = new Server(this);
		server.start();
	}

	method index(context) {
		context.response.end("Cool!");
	}
}
			</pre>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h2>Server And Browser</h2>
			Cool! can use on both server and browser. You can use by writing
			Cool! code inside HTML or separate Cool! code file. Don't forget
			to include the cool.js file in your HTML file.<br/>
			&lt;script src="/cool.js"&gt;&lt;/script&gt;
		</div>
		<div class="col-sm-6 col-xs-12">
			<h3>Browser Sample</h3>
			<pre>
&lt;script type="text/cool" src="code.cool"&gt;&lt;/script&gt;
			</pre>

			<pre>
&lt;script type="text/cool"&gt;
main class Test {
	new {
		var system = new System();
		system.write("Cool!");
	}
}
&lt;/script&gt;
			</pre>
		</div>
	</div>

</div>

<div class="container-fluid">
	<h2>Transpile to JavaScript Directly</h2>
	Cool! can transpile to JavaScript and ES6 directly. You can try writing
	Cool! code in the left editor and it will transpile immediately to the
	right editor.
	<div class="row">

		<div class="col-xs-12 col-sm-6">
			<h3>Cool! code</h3>
<textarea class="editor" id="cool-code">// Cool! Demo
main class Hello() {
	new {
		var system = new System();
		system.write("Cool!");
	}
}




</textarea>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h3>JavaScript Code</h3>
			<textarea class="editor" id="javascript-code"></textarea>
		</div>
	</div>
</div>

<script type="text/cool">
main class Main {
	method transpile() {
		var web = new Web();
		var editor1 = web.select("#cool-code");
		var code2 = transpile(editor1.value);
		var editor2 = web.select("#javascript-code");
		editor2.value = code2;
	}

	method keydown(event) {
		var TAB = 9;
		if (event.keyCode == TAB) {
			var start = this.selectionStart;
			var end = this.selectionEnd;
			var target = event.target;
			var value = target.value;
			target.value = value.substring(0, start)
				+ "\t"
				+ value.substring(end);
			this.selectionStart = this.selectionEnd = start + 1;
			event.preventDefault();
		}
	}

	method scrollCool() {
		var web = new Web();
		var editor1 = web.select("#cool-code");
		var editor2 = web.select("#javascript-code");
		editor2.scrollTop = editor1.scrollTop;
	}

	method scrollJavaScript() {
		var web = new Web();
		var editor1 = web.select("#cool-code");
		var editor2 = web.select("#javascript-code");
		editor1.scrollTop = editor2.scrollTop;
	}

	new {
		this.transpile();
		var web = new Web();
		var editor1 = web.select("#cool-code");
		editor1.oninput = this.transpile;
		editor1.onkeydown = this.keydown;
		editor1.onscroll = this.scrollCool;
		var editor2 = web.select("#javascript-code");
		editor2.onscroll = this.scrollJavaScript;
	}
}
</script>



<div class="container-fluid">
	<h1>Please visit our
	<a href="https://github.com/kookiatsuetrong/cool">GitHub</a>
	for more information.
	</h1>
</div>










<script language="cool">
main
class Test {
	new {
		var system = new System();
		system.write("Cool!");
	}
}
</script>

<script type="text/cool" src="/test.cool"></script>

<script type="text/cool">
main class Main {
	member prime = [];
	method sieve(n) {
		this.prime[0] = false;
		this.prime[1] = false;
		for (var i = 2; i <= n; i++) {
			this.prime[i] = true;
		}
		for (var i = 0; i <= Math.sqrt(n); i++) {
			if (this.prime[i] == true) {
				for (var j = 2; i * j <= n; j++) {
					this.prime[i * j] = false;
				}
			}
		}
	}

	new {
		var n = 100;
		var system = new System();
		system.write("Prime Numbers <= " + n);
		this.sieve(n);
		for (var i = 0; i <= n; i++) {
			if (this.prime[i]) {
				system.write(i);
			}
		}
	}


	// Browser MVC and two-way binding
	/*
	// ("#id")
	member name;
	// ("#save").click
	method save () {
	}
	*/
}
</script>
