<article>
<h1>
Using View and database with JavaScript and ES6
</h1>
<p>
This is the full source code from a web site written entirely by JavaScript 
using Cool! MVC.
</p>
<p>
1. Create a Javascript file for this code.
</p>
	
<pre>
"use strict;";

main();

function main() {
	var server = new Server(new MyController());
	server.port = 3200;
	server.middleware.push(new Less());
	server.start();
	var system = new System();
	system.write(server.text());
}

function MyController () {
	Controller.call(this);
	this.view  = new View();
	this.view.header = "header.html";
	this.view.footer = "footer.html";
	this.database = new Database("mysql://user:pwd@localhost/db");

	this.index = function (context) {
		var page = this.view.render("index.html");
		context.response.end(page);
	}

	this.error = function (context) {
		var page = this.view.render("error.html");
		context.response.end(page);
	}

	this.map = function (context) {
		var page = this.view.render("map.html");
		context.response.end(page);
	}

	this.workshop = function (context) {
		var page = this.view.render("workshop.html");
		context.response.end(page);
	}

	this.article = function (context) {
		var id = "";
		var tokens = context.request.url.split("/");
		if (tokens.length >= 3) {
			id = tokens[2];
			var name = "article/" + id + ".html";
			var page = this.view.render(name);
			context.response.end(page);
		}
		else {
			var folder = new File("views/article");
			var list = folder.list();
			var header = [];
			for (var i = 0; i < list.length; i++) {
				var file = new TextFile("views/article/" + list[i]);
				var text = file.read();
				var start = text.indexOf("&lt;h1&gt;");
				var stop  = text.indexOf("&lt;/h1&gt;");
				var title = text.substring(start + 4, stop).trim();
				header.push(title);
			}
			var name = "article.html";
			var page = this.view.render(name, {
				names: list,
				titles: header
				});
			context.response.end(page);
		}
		
	}
	
	this.gas = function (context) {
		var page = this.view.render("gas.html");
		context.response.end(page);
	}
}

</pre>

<p>
2. You need Cool! MVC framework to merge with the above file. 
Download <a href="/coolmvc.txt">here</a>. 
</p>

<p>
3. Create views and public folders as follow:
</p>

<pre>
+-app.js
+-public
  +-file.js
  +-file.css
+-views
  +-index.html
  +-error.html
  .
  .
  .
</pre>

<p>
4. Install ejs less and mysql by this command: npm install ejs less mysql
</p>

<p>
5. Run the web app by this command: node app.js
</p>

<p>
6. Open your browser to: http://localhost:3200
</p>

</article>