<article>
<h1>
List of Classes and Method in Cool! Framework
</h1>

<p>
Cool! framework designed to be small and memorable. It contains a handful 
number of classes and method. Currenty it has 2 libraray, Standard and MVC.
The standard library contains 9 classses and 10 methods, and the MVC contains
4 classes and 5 methods. The detail are as follow:
</p>

<pre>
Standard
9 Classes
Root, Exception, System, Engine, Web, File, TextFile [Integer, Float = Number]
10 Methods
text, read, write, append, execute, select, list, get, post, parse

MVC
4 Classes
Database, View, Controller, Server
5 Methods
render index error start execute

Future Release
Date Time
</pre>
	
</article>
