<div class="container-fluid">

	<h1>Tutorial 1: Using Cool! in a web page</h1>
	<p>
		Currently oyou can use Cool! in 3 ways:
		<ul>
			<li>Using Cool! as a web browser language</li>
			<li>Writing Cool! batch application</li>
			<li>Web application by Cool! MVC</li>
		</ul>
		This tutorial will show you how to use Cool! on web browser.
		You can use Cool! in a web page in 3 ways:
	</p>

	<h3>Solution 1: Using Cool! inside HTML page</h3>
	<pre>
&lt;script type="text/cool"&gt;
... Your Cool! code here ...
&lt;/script&gt;
	</pre>


	<h3>Solution 2: Using Cool! in a separated .cool file</h3>
	<pre>
&lt;script type="text/cool" src="file.cool"&gt;&lt;/script&gt;
	</pre>


	<h3>Solution 3: Transpiling Cool! code manually</h3>
	<pre>
var code = "... Cool! code ...";
var js = transpile(code);
var result = eval(js);
	</pre>

	<p>
		In each solution, you have to load the Cool! JavaScript file or cool.js
		at the bottom of the HTML file.
	</p>
	<pre>
&lt;script src="cool.js"&gt;
	</pre>

	<h3>HTML Event Handling</h3>
	<pre>
&lt;script type="text/cool"&gt;
main class Main {
	method scroll(e) {
		var system = new System();
		system.log("Scrolling " + this.scrollY);
	}
	method resize(e) {
		var page = new Web();
		var body = page.select("body");
		var footer = page.select("footer");

		if (window.innerHeight > body.clientHeight) {
			footer.style.position = "absolute";
		} else {
			footer.style.position = "relative";
		}
	}
	new {
		var system = new System();
		var page = new Web();
		var body = page.select('body');
		body.onscroll = this.scroll;
		body.onresize = this.resize;
		this.resize();
	}
}
&lt;/script&gt;
	</pre>

	<h3>More Complicate Event Handling</h3>
	<pre>
main class Start {
	method keydown(event) {
		var TAB = 9;
		if (event.keyCode == TAB) {
			var start = this.selectionStart;
			var end = this.selectionEnd;
			var target = event.target;
			var value = target.value;
			target.value = value.substring(0, start)
				+ "\t"
				+ value.substring(end);
			this.selectionStart = this.selectionEnd = start + 1;
			event.preventDefault();
		}
	}

	new {
		var web = new Web();
		var editor = web.select("#cool-code");
		editor.onkeydown = this.keydown;
	}

}
	</pre>

	<h3>Reading Data from AJAX</h3>
	<pre>
var web = new Web();
web.get("/test", {}, function (data) {
	var engine = new Engine();
	var system = new System();
	system.write(engine.parse(data));
});
	</pre>








</div>
