<article>
<h1>
Changes in Cool! programming language
</h1>
<date>
2015-04-04
</date>

<p>
  The Cool! programming language has some changes. The keyword for constructor
changed to "new" and every program must start from the contstructor of the
main class.
</p>

<pre>
main class Main {
	new {
		var system = new System();
		var students = [];
		students[0] = new Student("James", "1980-01-01");
		students[1] = new Student("Smith", "1980-03-01");
		for (var i = 0; i < students.length; i++) {
			system.log(students[i].toString());
		}
	}
}
class Student(name, dob) extends Root {
	member name;
	member dob;
	new {
		this.name = name;
		this.dob = dob;
	}
	member toString() {
		return this.name + ' ' + this.dob;
	}
}
</pre>

</article>
