<article>
<h1>
Speaking Skill
</h1>
<date>
2015-04-03
</date>

<p>
  The another skill I should practice is speaking skill, not in English but in
my native language which is Thai. So I planned to create my own video blog and
upload to Youtube channel.
</p>
<p>
  It looked strange if I take a selfie video, so I think I should ride a bike
to other locations around my home and take a video blog.
</p>
<p>
  I think it should take only 2-3 weeks to improve my speaking skill, that so
 important to my entrepreneurship. So stay in touch to see my "vidlog".
</p>
<p>
  Actually I can practice my English speaking by reading news loudly, similar
to a newsreader. Just 2-3 paragraphs per day must be enough to improve my
English pronunciation.
</p>

</article>
