<article>
<h1>
Which reserved word is better?
</h1>
<date>
2015-04-02
</date>

<p>
  I'm designing a new computer language, it is the Cool! programming language.
The problem today is to make a decision to use which reserved word for
declaring a member variable. The choice are as follow:
</p>
<pre>
  field - seems to be a good choice
  member - looks better especially I use the word "method" for declaring method
  property - a bit long and hard to type
  variable - long
  attribute - too long
</pre>
<p>
  The transpiler code supports at least 3 reserved words, which are field,
member and property. But I will finally choose only one, may be using "member",
not final yet.
</p>
</article>
