<article>
<h1>
The TEOI Principle
</h1>
<date>
2015-04-02
</date>

<p>
  Many computer language and framework have introduced useful principle over
the years. For example: Convention over Configuration, which means everything
must be able to work without any configuration. Today I just thinking about
a useful principle called TEOI principle or หลักการของต๋อย
</p>
<p>
  TEOI is stand for Text Editor Over IDE, which means programming language and
framework should not require any special IDE. Developer must be able develop
application without thinking of the method name, parameters, class name or
whatever that reduce productivity.
</p>
<p>
  In order to achieve this goal, we mast have a small set of built-in class,
small framework, but extensible, or at least developer must be able to see
the definition of class, method and framework.
</p>
</article>
