<!--
title: Using Vertex as a new platform
date: 2015-04-09
-->


<article>

<h1>
</h1>

<date>
2015-04-09
</date>

<p>
Beside node.js and io.js, I'm gonna add vertex as a new platform. The sample
of JS application using vertex is a follow:
</p>

<pre>
var vertx = require('vertx');
vertx.createHttpServer().requestHandler(function(req) {
	var file = req.path() === '/' ?
		'index.html' : req.path();
	req.response.sendFile
		('webroot/' + file);
}).listen(8080);
</pre>

<p>
It looks easier than node.js and io.js, it seems to run faster than the
current node.js/io.js platform.
</p>

<p>
ทดสอบภาษาไทยในการเขียน HTML แบบระดับเดียว ไม่ต้องใส่ nested เข้าไปเรื่อยๆ ทำให้จัดการ
ข้อความได้ยาก ทุกๆ แท็ก &lt;tag&gt; เป็น top-level ทั้งหมด รองรับ responsive หน้าจอ
ขนาดต่างๆกัน ไม่จำเป็นต้องใช้ Bootstrap และ jQuery
</p>

<p class="grid-xs-50 grid-md-20 background-1">
grid-xs-50 grid-md-20
</p>
<p class="grid-xs-50 grid-md-30 background-2">
grid-xs-50 grid-md-30
</p>
<p class="grid-xs-100 grid-md-50 background-3">
grid-xs-100 grid-md-50
</p>
<clear></clear>

<p class="grid-xs-100 grid-md-50 background-3">
grid-xs-100 grid-md-50
</p>
<p class="grid-xs-50 grid-md-20 background-1">
grid-xs-50 grid-md-20
</p>
<p class="grid-xs-50 grid-md-30 background-2">
grid-xs-50 grid-md-30
</p>
<clear></clear>

<br/>
<br/>
<br/>

<p>
ทดสอบภาษาไทยในการเขียน HTML แบบระดับเดียว ไม่ต้องใส่ nested เข้าไปเรื่อยๆ ทำให้จัดการ
ข้อความได้ยาก ทุกๆ แท็ก &lt;tag&gt; เป็น top-level ทั้งหมด รองรับ responsive หน้าจอ
ขนาดต่างๆกัน ไม่จำเป็นต้องใช้ Bootstrap และ jQuery
</p>

<p class="grid-xs-50 grid-md-20 background-1">
grid-xs-50 grid-md-20
</p>
<p class="grid-xs-50 grid-md-30 background-2">
grid-xs-50 grid-md-30
</p>
<p class="grid-xs-100 grid-md-50 background-3">
grid-xs-100 grid-md-50
</p>
<clear></clear>

<p class="grid-xs-100 grid-md-50 background-3">
grid-xs-100 grid-md-50
</p>
<p class="grid-xs-50 grid-md-20 background-1">
grid-xs-50 grid-md-20
</p>
<p class="grid-xs-50 grid-md-30 background-2">
grid-xs-50 grid-md-30
</p>

<clear></clear>

<br/>
<br/>
<br/>


<p>
ทดสอบภาษาไทยในการเขียน HTML แบบระดับเดียว ไม่ต้องใส่ nested เข้าไปเรื่อยๆ ทำให้จัดการ
ข้อความได้ยาก ทุกๆ แท็ก &lt;tag&gt; เป็น top-level ทั้งหมด รองรับ responsive หน้าจอ
ขนาดต่างๆกัน ไม่จำเป็นต้องใช้ Bootstrap และ jQuery
</p>

<clear></clear>

<p class="grid-xs-50 grid-md-20 background-1">
grid-xs-50 grid-md-20
</p>
<p class="grid-xs-50 grid-md-30 background-2">
grid-xs-50 grid-md-30
</p>
<p class="grid-xs-100 grid-md-50 background-3">
grid-xs-100 grid-md-50
</p>
<clear></clear>

<p class="grid-xs-100 grid-md-50 background-3">
grid-xs-100 grid-md-50
</p>
<p class="grid-xs-50 grid-md-20 background-1">
grid-xs-50 grid-md-20
</p>
<p class="grid-xs-50 grid-md-30 background-2">
grid-xs-50 grid-md-30
</p>

<clear></clear>
<br/>
<br/>
<br/>


<style>
.background-1 { background: lightblue; }
.background-2 { background: lightgreen; }
.background-3 { background: salmon; }
.background-4 { background: lightpink; }
.background-5 { background: lightsteelblue; }
</style>

</article>
