<article>
<h1>
Big Improvement Inheritance and Polymorphism
</h1>
<date>
2015-04-04
</date>

<p>
  The Cool! programming language is now support inheritance by "extends"
keyword similar to Java. Currently it supports only single inheritance like in
Java / C#, but it is possible to do multiple inheritance too.
</p>
<p>
  Inheritance in Cool! is the same thing as in JavaScript which is not like
other languages. A variable b of class B extends from A is an intance of B only
, it is not an instance of A.
</p>
<p>
  Polymorphism is also in the JavaScript way, the new member function will
replace the existing identical name.
</p>
</article>
