<article>
<h1>
Start writing my first blog
</h1>
<date>
2015-04-01
</date>

<p>
  Welcome to my blog. My name is Beer or Kookiat Suetrong. I just an ordinary
guy who live in Bangkok. Please don't expect too much about this blog. It just
only my personal view to something around myself.
</p>
<p>
  This blog is nothing more than I just want to improve my English writing
skill. I will keep writing 2-3 paragraphs a day. That's it, no big deal.
</p>
<p>
  Writing skill is actually similar to other skills, similar to programming
skill, playing sport, playing guitar ... and so on. It looks hard in the very
first days but later it should be easier once I have more experience.
</p>
<p>
  So as a golf player, Gary Player said:<br/>
  The more I practice, the luckier I get.
</p>
</article>
