<article>
<h1>
Building an MVC framework for the new programming language
</h1>
<date>
2015-04-02
</date>

<p>
  I just finished the proof-of-concept MVC framework for my new programming
language. It works nice and very clear code, for example:
</p>
<pre>
class MyApp {
	member system = new System();
	member engine = new Engine();

	method error(context) {
		var page = this.engine.render("error.html");
		context.response.end(page);
	}

	method index(context) {
		var page = this.engine.render("index.html");
		context.response.end(page);
	}
}

class Main {
	method start() {
		var app = new App();
		app.run(new MyApp());
	}
}
</pre>
<p>
  It's not perfect yet, and I reminded that the creator of the C++ programming
language once said:<br/>
  No programming language is perfect.

</p>

</article>
