<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 hidden-xs">
				<div style="float:left">
					<img class="img-responsive circle"
						src="/img/photo.jpg"/>
				</div>
				<div>
					<br/>
					<h1>Kookiat Suetrong<br/>Beer</h1>
					<h3>The creator of Cool!</h3>
				</div>
			</div>
			<div class="col-xs-12 visible-xs hidden-sm center">
				<img class="img-responsive circle center-parent"
					src="/img/photo.jpg" />
				<br/>
				<h1>
					Kookiat Suetrong<br/>Beer
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="page white">
	<div class="container">
		<h2>Hello World!</h2>
		<p style='text-align: center;'>
			Welcome to my personal page. My name is Kookiat Suetrong or Beer.
			I've been working as a computer programmer for more than 20 years,
			during that time I worked for several large companies including:
			Microsoft, Nokia Solutions and Networks and Diebold.
		</p>
		<p style='text-align: center;'>
			I've been connecting the dots in many fields, from fabless chip design
			to embedded systems, from database to full stack web development.
			I'm the creator of Cool!, a computer language for web browser and
			server, this website also written by Cool!
		</p>
	</div>
</div>

<div class="page light">
	<div class="container">
		<h2>Social Profiles</h2>

		<div class="row">
			<div class="col-xs-4">
				<a href="https://facebook.com/kookiatsuetrong">
					<span class="icon glyphicon glyphicon-globe"></span>
					Facebook
				</a>
			</div>
			<div class="col-xs-4">
				<a href="https://twitter.com/kookiatsuetrong">
					<span class="icon glyphicon glyphicon-send"></span>
					Twitter
				</a>
			</div>
			<div class="col-xs-4">
				<a href="https://github.com/kookiatsuetrong">
					<span class="icon glyphicon glyphicon-briefcase"></span>
					GitHub
				</a>
			</div>
		</div>
	</div>
</div>

<div class="page white">
	<div class="container">

		<h2>Projects</h2>

		<a href="http://coolmvc.com">
			<h3>The Cool! Programming Language</h3>
			A computer language for server and browser
		</a><br/><br/>

		<a href="https://github.com/publicsoftware/OpenBI">
			<h3>OpenBI</h3>
			The easiest way to create interactive dashboard
		</a><br/><br/>

		<a href="http://coolmvc.com/tutorial/02">
			<h3>Cool! MVC</h3>
			An MVC framework for JavaScript, ES6 and Cool!
		</a><br/><br/>

		<a href="http://coolmvc.com/editor">
			<h3>Cool! Online Editor</h3>
			Learn Cool! online by this editor
		</a><br/><br/>
	</div>
</div>

<div class="page light">
	<div class="container">

		<h2>Articles</h2>

		<div class="row">

			<div class="col-xs-4">
				<a href="http://coolmvc.com/tutorial/01">
					<span class="icon glyphicon glyphicon-picture"></span>
					Using Cool! on a web page
				</a>
			</div>

			<div class="col-xs-4">
				<a href="http://coolmvc.com/tutorial/03">
					<span class="icon glyphicon glyphicon-blackboard"></span>
					OOP in Cool!
				</a>
			</div>

			<div class="col-xs-4">
				<a href="https://github.com/kookiatsuetrong/cool">
					<span class="icon glyphicon glyphicon-comment"></span>
					Cool! on GitHub
				</a>
			</div>
		</div>
	</div>
</div>

	<!--
	<h2>Education and Certificate</h2>
	<h2>Blogs</h2>
	-->

<script type="text/cool">
main class Main {

	method scroll(e) {
		var system = new System();
		system.write("Scrolling " + this.scrollY);
	}

	method resize(e) {
		var page = new Web();
		var body = page.select("body");
		var footer = page.select("footer");

		if (window.innerHeight > body.clientHeight) {
			footer.style.position = "absolute";
		} else {
			footer.style.position = "relative";
		}
	}

	new {
		var system = new System();
		var page = new Web();
		var body = page.select('body');
		body.onscroll = this.scroll;
		body.onresize = this.resize;
		this.resize();
	}
}
</script>


























<!-- -->
